button.close-popup {
    padding: 5px;
    font-size: 21px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    box-shadow: none;
}

#global_search .nav-item button {
    color: #777777;
    background: transparent;
    box-shadow: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}
#global_search .nav-item button.active, #global_search .nav-item button:hover {
    color: #000;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0,0,0,15%);
}
#global_search .nav-item button .cnt {
    font-size: 14px;
    background: var(--e-global-color-accent);
    color: #fff;
    padding: 2px 7px;
    border-radius: 30px;
    font-weight: 400;
}
#global_search .search-form .form-wrap input {
    font-size: 18px;
    border: 0;
    padding: 15px 55px 15px 15px;
    height: auto;
}
#global_search .search-form .form-wrap {
    border-bottom: 2px solid #000;
    max-width: 450px;
    position: relative;
    margin: 10px 0 40px;
}
#global_search .search-form .form-wrap button.search {
    position: absolute;
    right: 9px;
    padding: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    box-shadow: none;
}
#global_search .tab-content {
    padding: 30px 0 0;
}
#global_search .tab-content .content ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
#global_search .tab-content .content ul li a {
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 20px;
}
#global_search .tab-content .content ul li a .thumbnail {
    background: #F7F7F7;
    padding: 0;
    position: relative;
    padding-bottom: 100%;
    height: 0;
}
#global_search .tab-content .content ul li a .thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#global_search .tab-content .content ul li a .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}
#global_search .tab-content .content ul li a .text-wrap .title {
    font-size: 19px;
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
}
#global_search .tab-content .content ul li a .text-wrap .price, #global_search .tab-content .content ul li a .text-wrap .sale {
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
#global_search .tab-content .content ul li.on-sale a .text-wrap .price {
    font-size: 15px;
    text-decoration: line-through;
    color: #A3A3A3;
}
#global_search .tab-content .content ul li a .text-wrap .tags {
    font-size: 14px;
    font-weight: 500;
    color: var(--e-global-color-accent);
}
#global_search .tab-content .content ul li a .text-wrap .description {
    font-size: 14px;
    color: #636363;
}
#global_search .tab-content .btn-wrap {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
#global_search .tab-content .btn-wrap button.load-more {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background: transparent;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    gap: 50px;
    border-radius: 30px;
    padding: 1em 2em;
}
#global_search .tab-content #search-faq .content ul li a .thumbnail {
    background: #fff;
}


.ycx-global-notice-cut-strings { width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal; }

#ycx-global-notice-list { display: inline-block; *display: inline; zoom: 1; margin: 0; width: 100%; }
#ycx-global-notice-list .ycx-global-list { float: left; width: 100%; background-color: white; margin: 30px 0;}
#ycx-global-notice-list .ycx-global-list table { display: table; table-layout: fixed; margin: 0; padding: 0; width: 100%; border: 0; font-size: 14px; border-collapse: collapse; }
#ycx-global-notice-list .ycx-global-list table a { color: black; font-weight: normal; text-decoration: none; border: 0; box-shadow: none; font-size: 16px; }
#ycx-global-notice-list .ycx-global-list table tr {
    border: 0;
    background-color: transparent;
    transition-duration: 0.3s;
}
#ycx-global-notice-list .ycx-global-list table td {
    padding: 10px 0;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
#ycx-global-notice-list .ycx-global-list table td.ycx-global-list-title { width: auto; }
#ycx-global-notice-list .ycx-global-list table td.ycx-global-list-date { width: 120px; }
#ycx-global-notice-list .ycx-global-list thead { background-color: transparent; }
#ycx-global-notice-list .ycx-global-list thead tr { background-color: transparent; border-top: 2px solid #333;}
#ycx-global-notice-list .ycx-global-list thead tr td {
    font-weight: 500;
    color: #333;
    border: 0;
    border-bottom: 1px solid #ccc;
}
#ycx-global-notice-list .ycx-global-list tbody tr td { word-break: break-all; border: 0; border-bottom: 1px solid #ccc; }
#ycx-global-notice-list .ycx-global-list tbody tr:hover { background-color: #f7f7f7; }
#ycx-global-notice-list .ycx-global-list tbody tr.ycx-global-list-notice { background-color: transparent; }
#ycx-global-notice-list .ycx-global-list tbody td.ycx-global-list-title { text-align: left; }
#ycx-global-notice-list .ycx-global-list table tr.ycx-global-list-notice td, #ycx-global-notice-list .ycx-global-list table tr.ycx-global-list-notice td a {
    color: #E53B3B;
}
#ycx-global-notice-list .ycx-global-list table tr.ycx-global-list-notice td .notice-uid {
    font-size: 14px;
    border: 1px solid;
    padding: 3px;
}

#ycx-global-notice-latest table { display: table; table-layout: fixed; width: 100%; border: 0; }
#ycx-global-notice-latest table tr { padding: 0; border: 0; }
#ycx-global-notice-latest table th { padding: 5px 0; height: auto; border: 0; text-align: center; }
#ycx-global-notice-latest table td { padding: 9px 0; height: auto; border: 0; vertical-align: middle; }
#ycx-global-notice-latest table td.ycx-global-latest-title { text-align: left; }
#ycx-global-notice-latest table .ycx-global-latest-title { padding-left: 3px; font-size: 18px; }
#ycx-global-notice-latest table .ycx-global-latest-title a { text-decoration: none; box-shadow: none; font-weight: bold; color: #000;}
#ycx-global-notice-latest table .latest-date {
    font-size: 14px;
    color: #797979;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
	#ycx-global-notice-list .ycx-global-list table { border-top: 1px solid #f1f1f1; }
	#ycx-global-notice-list .ycx-global-list table td{
		font-size: 15px;
	}
	#ycx-global-notice-list .ycx-global-list table td.ycx-global-list-date{
		width: 97px;
	}
	#ycx-global-notice-list .ycx-global-list table td.ycx-global-list-title { padding: 10px 5px; }
	#ycx-global-notice-list .ycx-global-list table td.ycx-global-list-title .ycx-global-notice-cut-strings { font-size: 15px; line-height: 23px; }
    #ycx-global-notice-latest table .ycx-global-latest-title {
        padding-left: 0;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    #global_search .search-form .form-wrap input {
        font-size: 16px;
        border: 0;
        padding: 11px 49px 11px 10px;
    }
    #global_search .search-form .form-wrap button.search svg {
        width: 18px;
    }
    #global_search .nav-item button {
        font-size: 16px;
        margin-right: 3px;
    }
    #global_search .nav-item button .cnt {
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 30px;
    }
    #global_search .tab-content .content ul {
        grid-template-columns: 100%;
        gap: 30px;
    }
    #global_search .tab-content .content ul li a .text-wrap .tags {
        font-size: 13px;
    }
    #global_search .tab-content .content ul li a {
        grid-template-columns: 1fr 65%;
        gap: 15px;
    }
    #global_search .tab-content .content ul li a .thumbnail {
        padding-bottom: 0;
        height: 100%;
    }
    #global_search .tab-content .content ul li a .text-wrap .title {
        font-size: 17px;
        margin-bottom: 3px;
    }
}